{% load i18n %}
<div class="wrapper-comp-settings is-active editor-with-buttons eoldiscussion_xblock" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="display_name">{{fields.display_name.display_name}}</label>
        <input class="input setting-input" name="display_name" id="display_name" value="{{xblock.display_name}}" minlength="1" type="text" />
      </div>
      <span class="tip setting-help">{{fields.display_name.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="discussion_category">{{fields.discussion_category.display_name}}</label>
        <input class="input setting-input" name="discussion_category" id="discussion_category" value="{{xblock.discussion_category}}" minlength="1" type="text" />
      </div>
      <span class="tip setting-help">{{fields.discussion_category.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="discussion_target">{{fields.discussion_target.display_name}}</label>
        <input class="input setting-input" name="discussion_target" id="discussion_target" value="{{xblock.discussion_target}}" minlength="1" type="text" />
      </div>
      <span class="tip setting-help">{{fields.discussion_target.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limit_character">{{fields.limit_character.display_name}}</label>
        <input class="input setting-input" name="limit_character" id="limit_character" value="{{xblock.limit_character}}"  step="1" max="2000" min="1" type="number" />
      </div>
      <span class="tip setting-help">{{fields.limit_character.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="is_dated">{{fields.is_dated.display_name}}</label>
        <select class="input setting-input" id="is_dated" {% if xblock.is_dated %}style="background:white;"{% endif %}>
          <option value="0" {% if not xblock.is_dated %}selected{% endif %}>
            Deshabilitado
          </option>
          <option value="1" {% if xblock.is_dated %}selected{% endif %}>
            Habilitado
          </option>
        </select>
      </div>
      <span class="tip setting-help">{{fields.is_dated.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set" id="li_start_date">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="start_date">{{fields.start_date.display_name}}</label>
        <input class="input setting-input" name="start_date" id="start_date" value="{{xblock.start_date}}" type="datetime-local" />
      </div>
      <span class="tip setting-help">{{fields.start_date.help|safe}}</span>
    </li>
    <li class="field comp-setting-entry is-set" id="li_end_date">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="end_date">{{fields.end_date.display_name}}</label>
        <input class="input setting-input" name="end_date" id="end_date" value="{{xblock.end_date}}" type="datetime-local" />
      </div>
      <span class="tip setting-help">{{fields.end_date.help|safe}}</span>
    </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
